//override bootstrap blue glow in inputs
input[type="text"], textarea
  outline: none
  box-shadow: none !important

.form-control:focus
    border: 1px solid $accent-blue !important

    
.sign-up-form
    background: white
    border-radius: 10px
    margin-top: 2em
    margin-bottom: 4em
    padding: 1.5em
    box-shadow: 0px 8px 0px 0px $dark-blue
    
.terms-and-service-link
    +font($font-regular)
    font-size: 11px
    color: $grayish-blue
    text-align: center
    padding: 0 1rem
    margin-top: 1em
    margin-bottom: 0
    line-height: 2em
    span
        font-weight: $font-semibold
        color: $primary-red
