$mobile-screen: 576px
$tablet-screen: 768px
$desktop-screen: 992px
$large-screen: 1200px

body
  height: 100%
  width: 100%
  background: no-repeat center center fixed
  background-color: $primary-red
  background-image: url(../images/bg-intro-desktop.png)
.grid
  margin: 0 2em

.hero-text
  color: white
  text-align: center
  h1
    +font($font-bold)
    font-size: 28px
  p
    +font($font-regular)
    line-height: 1.5em
  